header {
    width: 100%;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 2;
}

.navbar {
    padding: 0;
}

footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(250, 225, 208);
}

.footer-links {
    display: inline-block;
    width: 100%;
    align-items:inherit;
}

.nav-item {
    text-decoration: underline;
}

.footer-nav {
    display: inline-block;
}

.btn {
    background-color: rgb(189, 80, 18);
    color: rgb(247, 248, 249);
    border-color:  rgb(189, 80, 18);
}

p {
    margin-bottom: 0;
}

h1, h2, h3, h4 {
    color: rgb(181,70,19);
}

.card {
    margin-bottom: 1rem;
}

.banner, .search-bar {
    padding: 1rem;
    background-color: rgb(250, 225, 208);
}

#show-table {
    border-style:groove;
    border-color: rgb(255, 214, 174);
}

.btn-search {
    width: 3rem;
    height: 3rem;
}

.form, .classes-section, .login-form, .register-form, .show-banner, .information-section {
    display: block;
    text-align: center;
}

form, .display-classes, .banner-info, .class-information {
    display: inline-block;
    text-align: left;
}

#new-form, #edit-form {
    display: inline;
}

.accordion-item {
    background-color: rgb(247, 247, 247);
}