<%- include('../partials/header-login') %>

<div class="banner">
    <h3><i>LOGIN</i></h3>
</div>

<div class="login-form mt-3 mb-5">
    <form method="POST" action="/users/login">

        <div class="mb-4">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp">
        </div>
        <div class="mb-4">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="password">
        </div>

        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
            <div class="col">
                <p>or <a href="/users/register">Register</a></p>
            </div>
        </div>

    </form>
</div>

<%- include('../partials/footer') %>