<%- include('../partials/header-2') %>

<div class="banner">
    <h3><i>LOGIN</i></h3>
    <a href="/classes" class="btn btn-primary">Back to Homepage</a>
</div>

<form method="POST" action="/users/login">

    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" name="password" id="password">
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
    
</form>

<%- include('../partials/footer') %>