<%- include('../partials/header-register') %>

<div class="banner">
    <h3><i>REGISTER</i></h3>
</div>

<div class="register-form mt-3 mb-5">
    <form method="POST" action="/users/register">

        <div class="mb-4">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" name="username" id="username">
            <div id="usernameHelp" class="form-text">Your username will be visible to all.</div>
        </div>
        <div class="mb-4">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">Your email will be used to login to your account.</div>
        </div>
        <div class="mb-4">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="password">
        </div>
        <div class="mb-4">
            <label for="password_confirm" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" name="password_confirm" id="password_confirm">
        </div>

        <div class="mb-2">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>

        <p>Already have an account? <a href="/users/login">Login</a></p>
        
    </form>
</div>

<%- include('../partials/footer') %>