<%- include('../partials/header-2') %>

<div class="banner">
    <h3><i>CREATE NEW CLASS</i></h3>
</div>

<% if (messages.length > 0) { %>
    <div class="alert alert-danger" role="alert">
        <ul>
            <% for (let msg of messages) { %>
            <li><%= msg %></li>
            <% } %>
        </ul>
    </div>
<% } %>

<div class="new-section">
    <div class="new-form mt-3 mb-3">
        <%- include('../partials/class-new') %>
    </div>
</div>

 
<%- include('../partials/footer') %>
